<br>
<h1>Welcome Teacher name<%=  %></h1>
<br><br>
<h2>List of Students You have taught/teaching:</h2>
<table border="1">
  <tr>
    <th>
      <td>Roll No.</td></th>
      <td>Name</td></th>
      <td>Course Name</td></th>
  </tr>
</table>